<a href="https://colab.research.google.com/github/Vaish181204/Python/blob/main/NPTEL_Assessment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('/content/flavors_of_cocoa (1).csv')

In [4]:
df.head()

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
0,1,A. Morin,Agua Grande,2016.0,63%,France,3.75
1,2,A. Morin,Kpime,2015.0,70%,France,2.75
2,3,A. Morin,Atsane,2015.0,70%,France,3.00
3,4,A. Morin,Akata,2015.0,70%,France,3.50
4,5,A. Morin,Quilla,2015.0,70%,France,3.50

In [5]:
df.tail()

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
1790,1791,Zotter,Peru,2011.0,70%,Austria,3.75
1791,1792,Zotter,Congo,2011.0,65%,Austria,3.00
1792,1793,Zotter,Kerala State,2011.0,65%,Austria,3.50
1793,1794,Zotter,Kerala State,2011.0,62%,Austria,3.25
1794,1795,Zotter,"Brazil, Mitzi Blue",2010.0,65%,Austria,3.00

In [6]:
#Q1 => To find null values
print(df.isnull().sum())

Id                  0
Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

ans => any id having value greater than 1 has null values

In [9]:
# Q2 => To find country with max locations
top_countries = df['Company Location'].value_counts().head(3)
print(top_countries)

Company Location
U.S.A.    764
France    156
Canada    125
Name: count, dtype: int64

In [10]:
# Q2 => To find country with max locations
top_countries = df['Company Location'].value_counts()
print(top_countries.head(1))

Company Location
U.S.A.    764
Name: count, dtype: int64

In [11]:
# Q3 => To check data conversion reuirements
print(df.dtypes)
print(df.info())

Id                    int64
Company              object
Bean Origin          object
Review Date         float64
Cocoa Percent        object
Company Location     object
Rating              float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1795 non-null   int64
 1   Company           1795 non-null   object
 2   Bean Origin       1795 non-null   object
 3   Review Date       1791 non-null   float64
 4   Cocoa Percent     1795 non-null   object
 5   Company Location  1795 non-null   object
 6   Rating            1795 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 98.3+ KB
None

If any coloumn name has int64 it requires conversion

In [12]:
# Q4 => To find max rating
max_rating = df['Rating'].max()
print(max_rating)

5.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1795 non-null   int64
 1   Company           1795 non-null   object
 2   Bean Origin       1795 non-null   object
 3   Review Date       1791 non-null   float64
 4   Cocoa Percent     1795 non-null   object
 5   Company Location  1795 non-null   object
 6   Rating            1795 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 98.3+ KB

In [14]:
B = [True, 2, 3.0, np.nan, "False"]
[type(i) for i in B]

[bool, int, float, float, str]

In [16]:
arr = np.array([1, 2, 3, 4, 5])
print(arr[::2])

[1 3 5]